openapi: 3.0.1
info:
  title: Operations
  description: 'The Operations API contains all the Azure Video Indexer APIs, like Upload video, Get insights and more, as well as authorization operations to get access tokens for calling the other operations. For Azure Resource Manager (ARM)-based accounts, some REST APIs like generating an access token, list of all accounts, and updating existing accounts <a href="https://aka.ms/avam-arm-api" target="_blank">can be found here</a>.'
  version: '1.0'
servers:
  - url: https://api.videoindexer.ai
  - url: https://viprod-apim.api.videoindexer.ai
  - url: https://viprod-apim.privatelink.api.videoindexer.ai
paths:
  '/{location}/Accounts/{accountId}':
    get:
      tags:
        - ClassicAccounts
      summary: Get Account
      description: Get Account Details
      operationId: Get-Account
      parameters:
        - name: location
          in: path
          description: "Location indicates the Azure region to which the call should be routed<br>\nSee more details <a href=https://aka.ms/vi-apiportal-location target=\"_blank\">here</a>"
          required: true
          schema:
            enum:
              - trial
              - eastus
              - westus2
              - eastasia
              - northeurope
              - westeurope
              - southeastasia
              - eastus2
              - australiaeast
              - southcentralus
              - japaneast
              - uksouth
              - switzerlandnorth
              - switzerlandwest
              - centralindia
              - canadacentral
              - westus
              - francecentral
              - centralus
              - koreacentral
              - brazilsouth
              - japanwest
              - westcentralus
              - westus3
              - swedencentral
              - germanywestcentral
            type: string
        - name: accountId
          in: path
          description: Account ID is a globally unique identifier (GUID) for the account.<br> See more details <a href=https://aka.ms/vi-apiportal-useapi-accountId target="_blank">here</a>
          required: true
          schema:
            type: string
        - name: includeUsage
          in: query
          description: Whether to retrieve the usage information for the account
          schema:
            enum:
              - true
              - false
            type: boolean
            default: false
        - name: includeAmsInfo
          in: query
          description: Whether to retrieve the Azure Media Services instance information
          schema:
            enum:
              - true
              - false
            type: boolean
            default: false
        - name: includeStatistics
          in: query
          description: Whether to retrieve the account statistics information
          schema:
            enum:
              - true
              - false
            type: boolean
            default: false
        - name: accessToken
          in: query
          description: "Required. Should be given as parameter in URL query string or in Authorization header as Bearer token. Access token scope should be <b>Account</b> and permission should be <b>Reader</b>.<br>\n Note that Access tokens expire within 1 hour<br>\nSee more details for <b>Classic Account</b> <a href=https://aka.ms/DocsObtainAccessToken target=\"_blank\">here</a>, for <b>ARM Account</b> <a href=https://aka.ms/vi-classic-access-token target=\"_blank\">here</a>"
          schema:
            type: string
        - name: x-ms-client-request-id
          in: header
          description: 'Format - uuid. A globally unique identifier (GUID) for the request which can be sent by client for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the client request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request, so avoid using the same request id for different requests, including in retry scenarios.'
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Get the account information
          headers:
            x-ms-request-id:
              description: A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself.
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
              example:
                - cName: exampleName
                  description: ''
                  createTime: '2018-04-25T08:31:58.0000000+00:00'
                  owners:
                    - id: SampleUserId
                      name: SampleUserName
                      email: SampleEmailAddress@gmail.com
                  contributors: [ ]
                  invitedContributors: [ ]
                  readers: [ ]
                  invitedReaders: [ ]
                  quotaUsage:
                    dailyUploadCount: 0
                    dailyUploadCountLimit: 0
                    dailyUploadDurationInSeconds: 0
                    dailyUploadDurationLimitInSeconds: 0
                    everUploadDurationInSeconds: 0
                    everUploadDurationLimitInSeconds: 0
                  state: Active
                  location: 
                  isPaid: false
                  amsResource: 
                  amsAadConnectionApplicationId: 
                  id: SampleAccountId
                  name: SampleAccountName
                  accountType: Trial
                - cName: exampleName
                  description: ''
                  createTime: '2018-04-25T08:31:58.0000000+00:00'
                  owners:
                    - id: SampleUserId
                      name: SampleUserName
                      email: SampleEmailAddress@gmail.com
                  contributors: [ ]
                  invitedContributors: [ ]
                  readers: [ ]
                  invitedReaders: [ ]
                  quotaUsage:
                    dailyUploadCount: 0
                    dailyUploadCountLimit: 0
                    dailyUploadDurationInSeconds: 0
                    dailyUploadDurationLimitInSeconds: 0
                    everUploadDurationInSeconds: 0
                    everUploadDurationLimitInSeconds: 0
                  state: Active
                  location: westus2
                  isPaid: true
                  amsResource: SampleAmsResource
                  amsAadConnectionApplicationId: 8d03c025-3f05-48bb-b70c-78a3bb32fe17
                  id: SampleAccountId
                  name: SampleAccountName
                  accountType: Paid
        '400':
          description: ''
          headers:
            x-ms-request-id:
              description: A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself.
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                ErrorType: ACCOUNT_NOT_FOUND
                Message: Account 'SampleAccountId' not found
        '401':
          description: ''
          headers:
            x-ms-request-id:
              description: A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself.
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                ErrorType: USER_NOT_ALLOWED
                Message: Access token is not authorized to access account 'SampleAccountId'.
        '500':
          description: ''
          headers:
            x-ms-request-id:
              description: A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself.
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                ErrorType: GENERAL
                Message: There was an error.
        '429':
          description: 'Too many requests were sent, use Retry-After response header to decide when to send the next request'
          headers:
            Retry-After:
              description: A non-negative decimal integer indicating the seconds to delay after the response is received
              schema:
                type: integer
            x-ms-request-id:
              description: A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself.
              schema:
                type: string
                format: uuid
        '504':
          description: Server did not respond to gateway within expected time
          headers:
            x-ms-request-id:
              description: A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself.
              schema:
                type: string
                format: uuid
          content:
            application/json:
              example:
                ErrorType: SERVER_TIMEOUT
                Message: Server did not respond to gateway within expected time
  '/{location}/Accounts/{accountId}/MediaServices':
    patch:
      tags:
        - ClassicAccounts
      summary: Update Paid Account Azure Media Services
      description: 'Updates the Azure Media Services (AMS) connection for a paid account, to support a scenario in which AMS resource moved to another subscription/resource group, and to support a scenario in which client wants to update the AAD application used to access the AMS resource, for example because the application key is about to expire.<br/>If new AAD application details are provided, client should make the AAD application has at least Contributor role permissions to the AMS resource, or else an error response will be returned.'
      operationId: Update-Paid-Account-Azure-Media-Services
      parameters:
        - name: location
          in: path
          description: "Location indicates the Azure region to which the call should be routed<br>\nSee more details <a href=https://aka.ms/vi-apiportal-location target=\"_blank\">here</a>"
          required: true
          schema:
            enum:
              - trial
              - eastus
              - westus2
              - eastasia
              - northeurope
              - westeurope
              - southeastasia
              - eastus2
              - australiaeast
              - southcentralus
              - japaneast
              - uksouth
              - switzerlandnorth
              - switzerlandwest
              - centralindia
              - canadacentral
              - westus
              - francecentral
              - centralus
              - koreacentral
              - brazilsouth
              - japanwest
              - westcentralus
              - westus3
              - swedencentral
              - germanywestcentral
            type: string
        - name: accountId
          in: path
          description: Account ID is a globally unique identifier (GUID) for the account.<br> See more details <a href=https://aka.ms/vi-apiportal-useapi-accountId target="_blank">here</a>
          required: true
          schema:
            type: string
        - name: accessToken
          in: query
          description: "Required. Should be given as parameter in URL query string or in Authorization header as Bearer token. Access token scope should be <b>Account</b> and permission should be <b>Contributor</b>.<br>\n Note that Access tokens expire within 1 hour<br>\nSee more details for <b>Classic Account</b> <a href=https://aka.ms/DocsObtainAccessToken target=\"_blank\">here</a>, for <b>ARM Account</b> <a href=https://aka.ms/vi-classic-access-token target=\"_blank\">here</a>"
          schema:
            type: string
        - name: x-ms-client-request-id
          in: header
          description: 'Format - uuid. A globally unique identifier (GUID) for the request which can be sent by client for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the client request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request, so avoid using the same request id for different requests, including in retry scenarios.'
          schema:
            type: string
            format: uuid
      requestBody:
        description: Specifies the changes to AMS connection
        content:
          application/json:
            schema:
              type: object
              example:
                subscriptionId: 9dd10339-50b0-4e40-a05f-3b24f45d6faf
                resourceGroup: SampleResourceGroup
                aadConnection:
                  applicationId: 192e1066-4cdb-42c1-baa8-1b421b86cbc6
                  applicationKey: SampleAzureActiveDirectoryApplicationKey
            example:
              subscriptionId: 9dd10339-50b0-4e40-a05f-3b24f45d6faf
              resourceGroup: SampleResourceGroup
              aadConnection:
                applicationId: 192e1066-4cdb-42c1-baa8-1b421b86cbc6
                applicationKey: SampleAzureActiveDirectoryApplicationKey
      responses:
        '204':
          description: Update succeeded
          headers:
            x-ms-request-id:
              description: A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself.
              schema:
                type: string
                format: uuid
        '400':
          description: ''
          headers:
            x-ms-request-id:
              description: A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself.
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                ErrorType: INVALID_INPUT
                Message: Media services info is missing from body.
        '401':
          description: ''
          headers:
            x-ms-request-id:
              description: A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself.
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                ErrorType: USER_NOT_ALLOWED
                Message: Access token is not authorized to access account 'SampleAccountId'.
        '500':
          description: ''
          headers:
            x-ms-request-id:
              description: A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself.
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                ErrorType: GENERAL
                Message: There was an error.
        '429':
          description: 'Too many requests were sent, use Retry-After response header to decide when to send the next request'
          headers:
            Retry-After:
              description: A non-negative decimal integer indicating the seconds to delay after the response is received
              schema:
                type: integer
            x-ms-request-id:
              description: A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself.
              schema:
                type: string
                format: uuid
        '504':
          description: Server did not respond to gateway within expected time
          headers:
            x-ms-request-id:
              description: A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself.
              schema:
                type: string
                format: uuid
          content:
            application/json:
              example:
                ErrorType: SERVER_TIMEOUT
                Message: Server did not respond to gateway within expected time
  '/{location}/Accounts':
    post:
      tags:
        - ClassicAccounts
      summary: Create Paid Account
      description: Creates a new paid account connected to the given Media Services account.
      operationId: Create-Paid-Account
      parameters:
        - name: location
          in: path
          description: "Location indicates the Azure region to which the call should be routed<br>\nSee more details <a href=https://aka.ms/vi-apiportal-location target=\"_blank\">here</a>"
          required: true
          schema:
            enum:
              - trial
              - eastus
              - westus2
              - eastasia
              - northeurope
              - westeurope
              - southeastasia
              - eastus2
              - australiaeast
              - southcentralus
              - japaneast
              - uksouth
              - switzerlandnorth
              - switzerlandwest
              - centralindia
              - canadacentral
              - westus
              - francecentral
              - centralus
              - koreacentral
              - brazilsouth
              - japanwest
              - westcentralus
              - westus3
              - swedencentral
              - germanywestcentral
            type: string
        - name: accessToken
          in: query
          description: "Required. Should be given as parameter in URL query string or in Authorization header as Bearer token. Access token scope should be <b>User</b> and permission should be <b>Contributor</b>.<br>\n Note that Access tokens expire within 1 hour<br>\nSee more details for <b>Classic Account</b> <a href=https://aka.ms/DocsObtainAccessToken target=\"_blank\">here</a>, for <b>ARM Account</b> <a href=https://aka.ms/vi-classic-access-token target=\"_blank\">here</a>"
          schema:
            type: string
        - name: x-ms-client-request-id
          in: header
          description: 'Format - uuid. A globally unique identifier (GUID) for the request which can be sent by client for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the client request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request, so avoid using the same request id for different requests, including in retry scenarios.'
          schema:
            type: string
            format: uuid
      requestBody:
        description: The details of the Media Services account to connect the new Azure Video Indexer paid account to.
        content:
          application/json:
            schema:
              type: object
              example:
                subscriptionId: 9dd10339-50b0-4e40-a05f-3b24f45d6faf
                resourceGroup: SampleResourceGroup
                resource: SameAmsResource
                aadTenantId: contoso.onmicrosoft.com
                aadConnection:
                  applicationId: 11110339-50b0-4e40-a05f-3b24f45d6faf
                  applicationKey: '[Your application key]'
                accountEncryptionKeyContract: 
            example:
              subscriptionId: 9dd10339-50b0-4e40-a05f-3b24f45d6faf
              resourceGroup: SampleResourceGroup
              resource: SameAmsResource
              aadTenantId: contoso.onmicrosoft.com
              aadConnection:
                applicationId: 11110339-50b0-4e40-a05f-3b24f45d6faf
                applicationKey: '[Your application key]'
              accountEncryptionKeyContract: 
      responses:
        '201':
          description: Account created successfully.
          headers:
            x-ms-request-id:
              description: A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself.
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
              example:
                id: string
                name: string
                location: string
                accountType: string
                url: string
                accessToken: string
                isInMoveToArm: true
                isArmOnly: true
                moveToArmStartedDate: string
                cName: string
                description: string
                createTime: string
                owners:
                  - id: string
                    name: string
                    email: string
                    provider: 0
                contributors:
                  - id: string
                    name: string
                    email: string
                    provider: 0
                invitedContributors:
                  - string
                readers:
                  - id: string
                    name: string
                    email: string
                    provider: 0
                invitedReaders:
                  - string
                quotaUsage:
                  dailyUploadCount: 0
                  dailyUploadCountLimit: 0
                  dailyUploadDurationInSeconds: 0
                  dailyUploadDurationLimitInSeconds: 0
                  everUploadDurationInSeconds: 0
                  everUploadDurationLimitInSeconds: 0
                mediaServices:
                  subscriptionId: string
                  resourceGroup: string
                  name: string
                  aadTenantId: string
                  aadApplicationId: string
                  streamingEndpointStarted: true
                  connected: true
                  eventGridProviderRegistered: true
                statistics:
                  videosCount: 0
                  lingusiticModelsCount: 0
                  personModlesCount: 0
                  brandsCount: 0
                limitedAccessFeatures:
                  isFaceIdentificationEnabled: true
                  isCelebrityRecognitionEnabled: true
                  isFaceDetectionEnabled: true
                state: 0
                isPaid: true
                amsResource: string
                amsAadConnectionApplicationId: string
        '401':
          description: Not authorized to perform this action.
          headers:
            x-ms-request-id:
              description: A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself.
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                ErrorType: GENERAL
                Message: string
        '403':
          description: Forbidden on trial.
          headers:
            x-ms-request-id:
              description: A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself.
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                ErrorType: GENERAL
                Message: string
        '400':
          description: 'Invalid input, see examples.'
          headers:
            x-ms-request-id:
              description: A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself.
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                - ErrorType: INVALID_INPUT
                  Message: Invalid input Body/AadConnection is empty
                - ErrorType: AMS_AAD_APPLICATION_INSUFFICIENT_PERMISSION
                  Message: The AAD application ID doesn't have the required permission on this Azure Media Services account
                - ErrorType: AMS_UNREACHABLE
                  Message: Failed to connect to Media Services account
                - ErrorType: EVENT_GRID_NOT_REGISTERED
                  Message: Microsoft.EventGrid resource provider is not registered in subscription
                - ErrorType: AMS_IN_ANOTHER_LOCATION
                  Message: Can not connect to a Media Services account which is not in the same location as the VideoIndexer account
        '500':
          description: ''
          headers:
            x-ms-request-id:
              description: A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself.
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                ErrorType: GENERAL
                Message: There was an error.
        '429':
          description: 'Too many requests were sent, use Retry-After response header to decide when to send the next request'
          headers:
            Retry-After:
              description: A non-negative decimal integer indicating the seconds to delay after the response is received
              schema:
                type: integer
            x-ms-request-id:
              description: A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself.
              schema:
                type: string
                format: uuid
        '504':
          description: Server did not respond to gateway within expected time
          headers:
            x-ms-request-id:
              description: A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself.
              schema:
                type: string
                format: uuid
          content:
            application/json:
              example:
                ErrorType: SERVER_TIMEOUT
                Message: Server did not respond to gateway within expected time
    get:
      tags:
        - ClassicAccounts
      summary: Get Accounts With Token
      description: Get Accounts
      operationId: Get-Accounts-With-Token
      parameters:
        - name: location
          in: path
          description: "Location indicates the Azure region to which the call should be routed<br>\nSee more details <a href=https://aka.ms/vi-apiportal-location target=\"_blank\">here</a>"
          required: true
          schema:
            enum:
              - trial
              - eastus
              - westus2
              - eastasia
              - northeurope
              - westeurope
              - southeastasia
              - eastus2
              - australiaeast
              - southcentralus
              - japaneast
              - uksouth
              - switzerlandnorth
              - switzerlandwest
              - centralindia
              - canadacentral
              - westus
              - francecentral
              - centralus
              - koreacentral
              - brazilsouth
              - japanwest
              - westcentralus
              - westus3
              - swedencentral
              - germanywestcentral
            type: string
        - name: generateAccessTokens
          in: query
          description: Whether to generate an access token for each account.
          schema:
            enum:
              - true
              - false
            type: boolean
            default: false
        - name: allowEdit
          in: query
          description: Determines the token's permission. 'false' is the equivalent of a Reader permission (read-only) and 'true' is the equivalent of a Contributor permission (read-write).
          schema:
            enum:
              - true
              - false
            type: boolean
            default: false
        - name: accessToken
          in: query
          description: "Required. Should be given as parameter in URL query string or in Authorization header as Bearer token. Access token scope should be <b>User</b> and permission should be <b>Reader</b>.<br>\n Note that Access tokens expire within 1 hour<br>\nSee more details for <b>Classic Account</b> <a href=https://aka.ms/DocsObtainAccessToken target=\"_blank\">here</a>, for <b>ARM Account</b> <a href=https://aka.ms/vi-classic-access-token target=\"_blank\">here</a>"
          schema:
            type: string
        - name: x-ms-client-request-id
          in: header
          description: 'Format - uuid. A globally unique identifier (GUID) for the request which can be sent by client for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the client request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request, so avoid using the same request id for different requests, including in retry scenarios.'
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Retrieved the accounts successfully
          headers:
            x-ms-request-id:
              description: A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself.
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountSlim'
              example:
                - id: SampleAccountId1
                  name: SampleAccountName1
                  location: eastus
                  accountType: Trial
                  accessToken: ey00asd...
                - id: SampleAccountId2
                  name: SampleAccountName2
                  location: eastus
                  accountType: Trial
                  accessToken: az00asd...
        '400':
          description: ''
          headers:
            x-ms-request-id:
              description: A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself.
              schema:
                type: string
                format: uuid
        '401':
          description: ''
          headers:
            x-ms-request-id:
              description: A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself.
              schema:
                type: string
                format: uuid
        '500':
          description: ''
          headers:
            x-ms-request-id:
              description: A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself.
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                ErrorType: GENERAL
                Message: There was an error.
        '429':
          description: 'Too many requests were sent, use Retry-After response header to decide when to send the next request'
          headers:
            Retry-After:
              description: A non-negative decimal integer indicating the seconds to delay after the response is received
              schema:
                type: integer
            x-ms-request-id:
              description: A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself.
              schema:
                type: string
                format: uuid
        '504':
          description: Server did not respond to gateway within expected time
          headers:
            x-ms-request-id:
              description: A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself.
              schema:
                type: string
                format: uuid
          content:
            application/json:
              example:
                ErrorType: SERVER_TIMEOUT
                Message: Server did not respond to gateway within expected time
  '/{location}/Accounts/{accountId}/Videos':
    post:
      tags:
        - Indexing
      summary: Upload Video
      description: "Uploads the given video, starts indexing it and returns a new Video id.\nThe supported formats are listed <a href=\"https://aka.ms/vi-supported-formats\" target=\"_blank\">here</a>."
      operationId: Upload-Video
      parameters:
        - name: location
          in: path
          description: "Location indicates the Azure region to which the call should be routed<br>\nSee more details <a href=https://aka.ms/vi-apiportal-location target=\"_blank\">here</a>"
          required: true
          schema:
            enum:
              - trial
              - eastus
              - westus2
              - eastasia
              - northeurope
              - westeurope
              - southeastasia
              - eastus2
              - australiaeast
              - southcentralus
              - japaneast
              - uksouth
              - switzerlandnorth
              - switzerlandwest
              - centralindia
              - canadacentral
              - westus
              - francecentral
              - centralus
              - koreacentral
              - brazilsouth
              - japanwest
              - westcentralus
              - westus3
              - swedencentral
              - germanywestcentral
            type: string
        - name: accountId
          in: path
          description: Account ID is a globally unique identifier (GUID) for the account.<br> See more details <a href=https://aka.ms/vi-apiportal-useapi-accountId target="_blank">here</a>
          required: true
          schema:
            type: string
        - name: name
          in: query
          description: The video name
          required: true
          schema:
            type: string
        - name: privacy
          in: query
          description: 'The video privacy mode. Allowed values: Private / Public'
          schema:
            enum:
              - Private
              - Public
            type: string
            default: Private
            nullable: true
        - name: priority
          in: query
          description: 'Index priority, can be used in paid regions only. Allowed values: Low / Normal / High'
          schema:
            enum:
              - Low
              - Normal
              - High
            type: string
            nullable: true
        - name: description
          in: query
          description: The video description.
          schema:
            type: string
            nullable: true
        - name: partition
          in: query
          description: A partition to partition videos by (used for searching a specific partition)
          schema:
            type: string
            nullable: true
        - name: externalId
          in: query
          description: An external id to associate with the video (can be searched for later).
          schema:
            type: string
            nullable: true
        - name: externalUrl
          in: query
          description: Format - uri. An external URL to associate with the video (can be retrieved later)
          schema:
            type: string
            format: uri
            nullable: true
        - name: callbackUrl
          in: query
          description: "Format - uri. A url to send notifications to (POST).\nThese are the supported notifications:\n1. Video indexing completed:\n   2 additional query string parameters will be added to the url: id and state.\n\n   For example, if the callback url is 'https://test.com/notifyme?projectName=MyProject', the notification will be sent to 'https://test.com/notifyme?projectName=MyProject&id=12345abcde&state=Processed'.\n\n2. A face was identified (after the face was trained in another video):\n   4 additional query string parameters will be added to the url: id, faceId, knownPersonId and personName.\n\n   For example, if the callback url is 'https://test.com/notifyme?projectName=MyProject', the notification will be sent to 'https://test.com/notifyme?projectName=MyProject&id=12345abcde&faceId=1234&knownPersonId=B689EC08-FAB6-497A-A727-DA7285DBD436&personName=JohnSmith'."
          schema:
            type: string
            format: uri
            nullable: true
        - name: metadata
          in: query
          description: Metadata to associate with the video (will be returned in queries).
          schema:
            type: string
            nullable: true
        - name: language
          in: query
          description: "The language of the video, to be used when generating the transcript: Auto-detect single language - 'auto', Auto-detect multi language - 'multi'..\nSupported languages: Arabic (United Arab Emirates): ar-AE, Arabic Modern Standard (Bahrain): ar-BH, Arabic Egypt: ar-EG, Arabic (Israel): ar-IL, Arabic (Iraq): ar-IQ, Arabic (Jordan): ar-JO, Arabic (Kuwait): ar-KW, Arabic (Lebanon): ar-LB, Arabic (Oman): ar-OM, Arabic (Palestinian Authority): ar-PS, Arabic (Qatar): ar-QA, Arabic (Saudi Arabia): ar-SA, Arabic Syrian Arab Republic: ar-SY, Bulgarian: bg-BG, Catalan: ca-ES, Czech: cs-CZ, Danish: da-DK, German: de-DE, Greek: el-GR, English Australia: en-AU, English United Kingdom: en-GB, English United States: en-US, Spanish: es-ES, Spanish (Mexico): es-MX, Estonian: et-EE, Persian: fa-IR, Finnish: fi-FI, French (Canada): fr-CA, French: fr-FR, Irish: ga-IE, Gujarati: gu-IN, Hebrew: he-IL, Hindi: hi-IN, Croatian: hr-HR, Hungarian: hu-HU, Armenian: hy-AM, Indonesian: id-ID, Icelandic: is-IS, Italian: it-IT, Japanese: ja-JP, Kannada: kn-IN, Korean: ko-KR, Lithuanian: lt-LT, Latvian: lv-LV, Malayalam: ml-IN, Malay: ms-MY, Norwegian: nb-NO, Dutch: nl-NL, Polish: pl-PL, Portuguese: pt-BR, Portuguese (Portugal): pt-PT, Romanian: ro-RO, Russian: ru-RU, Slovak: sk-SK, Slovenian: sl-SI, Swedish: sv-SE, Tamil: ta-IN, Telugu: te-IN, Thai: th-TH, Turkish: tr-TR, Ukrainian: uk-UA, Vietnamese: vi-VN, Chinese (Simplified): zh-Hans, Chinese (Cantonese, Traditional): zh-HK."
          schema:
            enum:
              - ar-AE
              - ar-BH
              - ar-EG
              - ar-IL
              - ar-IQ
              - ar-JO
              - ar-KW
              - ar-LB
              - ar-OM
              - ar-PS
              - ar-QA
              - ar-SA
              - ar-SY
              - bg-BG
              - ca-ES
              - cs-CZ
              - da-DK
              - de-DE
              - el-GR
              - en-AU
              - en-GB
              - en-US
              - es-ES
              - es-MX
              - et-EE
              - fa-IR
              - fi-FI
              - fr-CA
              - fr-FR
              - ga-IE
              - gu-IN
              - he-IL
              - hi-IN
              - hr-HR
              - hu-HU
              - hy-AM
              - id-ID
              - is-IS
              - it-IT
              - ja-JP
              - kn-IN
              - ko-KR
              - lt-LT
              - lv-LV
              - ml-IN
              - ms-MY
              - nb-NO
              - nl-NL
              - pl-PL
              - pt-BR
              - pt-PT
              - ro-RO
              - ru-RU
              - sk-SK
              - sl-SI
              - sv-SE
              - ta-IN
              - te-IN
              - th-TH
              - tr-TR
              - uk-UA
              - vi-VN
              - zh-Hans
              - zh-HK
              - English
              - Spanish
              - Russian
              - Japanese
              - German
              - French
              - Portuguese
              - Italian
              - Chinese
              - Arabic
              - Hindi
              - auto
              - multi
            type: string
            nullable: true
        - name: videoUrl
          in: query
          description: 'Format - uri. A public url of the video/audio file (url encoded). It is recommended to use readonly urls (e.g. when using Azure Storage SAS urls). If not specified, the file should be passed as a multipart/form body content.'
          schema:
            type: string
            format: uri
            nullable: true
        - name: fileName
          in: query
          description: The uploaded file name.
          schema:
            type: string
            nullable: true
        - name: excludedAI
          in: query
          description: "AI to exclude when indexing, for example for sensitive scenarios.\nOptions are: Faces, ObservedPeople, Emotions, Labels, RollingCredits, DetectedObjects, Celebrities, KnownPeople, OCR, Clapperboard, Logos, Speakers, Topics, Keywords, Entities, FeaturedClothing, MatchedPerson, ShotType, PeopleDetectedClothing."
          schema:
            type: array
            items:
              type: string
            nullable: true
        - name: isSearchable
          in: query
          description: Indicates whether to save the video and insights for future search. Default is 'true'.
          schema:
            enum:
              - true
              - false
            type: boolean
            default: true
            nullable: true
        - name: indexingPreset
          in: query
          description: 'The indexing preset to use. Allowed values: Default / AudioOnly / VideoOnly / Basic / BasicAudio / BasicVideo / Advanced / AdvancedAudio / AdvancedVideo'
          schema:
            enum:
              - Default
              - AudioOnly
              - VideoOnly
              - Basic
              - BasicAudio
              - BasicVideo
              - Advanced
              - AdvancedAudio
              - AdvancedVideo
            type: string
            default: Default
            nullable: true
        - name: streamingPreset
          in: query
          description: 'The streaming preset to use. Allowed values: NoStreaming / Default / SingleBitrate / AdaptiveBitrate'
          schema:
            enum:
              - NoStreaming
              - Default
              - SingleBitrate
              - AdaptiveBitrate
            type: string
            default: Default
            nullable: true
        - name: linguisticModelId
          in: query
          description: Linguistic model id as received by 'create linguistic model' call
          schema:
            type: string
            nullable: true
        - name: personModelId
          in: query
          description: Faces will be identified against the provided person model.
          schema:
            type: string
            nullable: true
        - name: sendSuccessEmail
          in: query
          description: Indicates whether to send a success mail once video was succesfully indexed
          schema:
            enum:
              - true
              - false
            type: boolean
            default: false
            nullable: true
        - name: assetId
          in: query
          description: Azure media services asset id. Used to index from existing assets in your connected Azure media services account. (Paid only)
          schema:
            type: string
            nullable: true
        - name: brandsCategories
          in: query
          description: List of brands categories delimited by comma. Azure Video Indexer will only take these categories in to account when indexing. If not specified all brands will be used.
          schema:
            type: string
            nullable: true
        - name: customLanguages
          in: query
          description: 'A custom list of languages to use when auto-detecting one or more languages in a video, separated by a comma. Example: ''en-US,es-ES'' for English and Spanish.'
          schema:
            type: string
            nullable: true
        - name: logoGroupId
          in: query
          description: Logos will be identified against the provided logos group.
          schema:
            type: string
            nullable: true
        - name: useManagedIdentityToDownloadVideo
          in: query
          description: Use the account's Managed Identity to download the video file from an Azure storage account. The MI must have 'Storage Blob Data Owner' permissions over the storage account (ARM accounts only)
          schema:
            enum:
              - true
              - false
            type: boolean
            default: false
            nullable: true
        - name: preventDuplicates
          in: query
          description: Server will return conflict (409) in case there is a video with identical content that was uploaded with identical configuration.
          schema:
            enum:
              - true
              - false
            type: boolean
            default: false
            nullable: true
        - name: retentionPeriod
          in: query
          description: 'Format - int32. Number of days between 1-7 to keep the video, after that the video will be permanently deleted.'
          schema:
            maximum: 7.0
            minimum: 1.0
            type: integer
            format: int32
            nullable: true
        - name: accessToken
          in: query
          description: "Required. Should be given as parameter in URL query string or in Authorization header as Bearer token. Access token scope should be <b>Account</b> and permission should be <b>Contributor</b>.<br>\n Note that Access tokens expire within 1 hour<br>\nSee more details for <b>Classic Account</b> <a href=https://aka.ms/DocsObtainAccessToken target=\"_blank\">here</a>, for <b>ARM Account</b> <a href=https://aka.ms/vi-classic-access-token target=\"_blank\">here</a>"
          schema:
            type: string
        - name: x-ms-client-request-id
          in: header
          description: 'Format - uuid. A globally unique identifier (GUID) for the request which can be sent by client for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the client request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request, so avoid using the same request id for different requests, including in retry scenarios.'
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Video uploaded successfully
          headers:
            x-ms-request-id:
              description: A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself.
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoSearchResultItem'
              example:
                accountId: string
                id: string
                partition: string
                externalId: string
                metadata: string
                name: string
                description: string
                created: string
                lastModified: string
                lastIndexed: string
                privacyMode: Private
                userName: string
                isOwned: true
                isBase: true
                hasSourceVideoFile: true
                state: Uploaded
                moderationState: OK
                reviewState: None
                isSearchable: true
                processingProgress: string
                durationInSeconds: 0
                thumbnailVideoId: string
                thumbnailId: string
                searchMatches:
                  - startTime: string
                    type: Transcript
                    subType: string
                    text: string
                    exactText: string
                indexingPreset: string
                streamingPreset: string
                sourceLanguage:
                  code: string
                  description: string
                  rightToLeft: true
                  isSourceLanguage: true
                  supportedUserLocale: true
                  nativeName: string
                  isAutoDetectLanguage: true
                  isPrimaryLanguageForCode: true
                  isSupportedInArc: true
                  isArcSourceLanguage: true
                sourceLanguages:
                  - code: string
                    description: string
                    rightToLeft: true
                    isSourceLanguage: true
                    supportedUserLocale: true
                    nativeName: string
                    isAutoDetectLanguage: true
                    isPrimaryLanguageForCode: true
                    isSupportedInArc: true
                    isArcSourceLanguage: true
                personModelId: string
                animationModelId: string
                logoGroupId: string
        '404':
          description: Account not found
          headers:
            x-ms-request-id:
              description: A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself.
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                ErrorType: ACCOUNT_NOT_FOUND
                Message: The account doesn't exist
        '400':
          description: Invalid input
          headers:
            x-ms-request-id:
              description: A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself.
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                - ErrorType: NOT_FOUND
                  Message: The provided model id could not be found
                - ErrorType: INVALID_INPUT
                  Message: Invalid input
                - ErrorType: INVALID_INPUT
                  Message: You can only exclude certain AIs. Please refer to the ExcludedAI parameter description.
                - ErrorType: INVALID_INPUT
                  Message: Input is invalid. Uploads from storge behind firewall is only supported for ARM accounts.
                - ErrorType: URL_UNREACHABLE
                  Message: Url is unreachable. Please validate that the configure Managed Identity with has permissions on the storage account
        '424':
          description: Storage account is unreachable.
          headers:
            x-ms-request-id:
              description: A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself.
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                - ErrorType: STORAGE_UNREACHABLE
                  Message: Storage account is unreachable.
                - ErrorType: MANAGED_IDENTITY_MISSING
                  Message: User managed identity could not be found.
                - ErrorType: STORAGE_ACCESS_DENIED
                  Message: Managed identity has insufficent permissions on storage account. Make sure it has at least 'Storage Blob Data Contributor' permissions.
        '401':
          description: ''
          headers:
            x-ms-request-id:
              description: A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself.
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                ErrorType: USER_NOT_ALLOWED
                Message: Access token is not authorized to access account 'SampleAccountId'.
        '500':
          description: ''
          headers:
            x-ms-request-id:
              description: A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself.
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                ErrorType: GENERAL
                Message: There was an error.
        '429':
          description: 'Too many requests were sent, use Retry-After response header to decide when to send the next request'
          headers:
            Retry-After:
              description: A non-negative decimal integer indicating the seconds to delay after the response is received
              schema:
                type: integer
            x-ms-request-id:
              description: A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself.
              schema:
                type: string
                format: uuid
        '504':
          description: Server did not respond to gateway within expected time
          headers:
            x-ms-request-id:
              description: A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself.
              schema:
                type: string
                format: uuid
          content:
            application/json:
              example:
                ErrorType: SERVER_TIMEOUT
                Message: Server did not respond to gateway within expected time
    get:
      tags:
        - Videos
      summary: List Videos
      description: Get a list of videos in the account
      operationId: List-Videos
      parameters:
        - name: location
          in: path
          description: "Location indicates the Azure region to which the call should be routed<br>\nSee more details <a href=https://aka.ms/vi-apiportal-location target=\"_blank\">here</a>"
          required: true
          schema:
            enum:
              - trial
              - eastus
              - westus2
              - eastasia
              - northeurope
              - westeurope
              - southeastasia
              - eastus2
              - australiaeast
              - southcentralus
              - japaneast
              - uksouth
              - switzerlandnorth
              - switzerlandwest
              - centralindia
              - canadacentral
              - westus
              - francecentral
              - centralus
              - koreacentral
              - brazilsouth
              - japanwest
              - westcentralus
              - westus3
              - swedencentral
              - germanywestcentral
            type: string
        - name: accountId
          in: path
          description: Account ID is a globally unique identifier (GUID) for the account.<br> See more details <a href=https://aka.ms/vi-apiportal-useapi-accountId target="_blank">here</a>
          required: true
          schema:
            type: string
        - name: createdAfter
          in: query
          description: 'Filter items created before the specified date. Accepted format: RFC 3339, section 5.6. Example: ''2017-07-21T17:32:28Z'''
          schema:
            type: string
            nullable: true
        - name: createdBefore
          in: query
          description: 'Filter items created after the specified date. Accepted format: RFC 3339, section 5.6. Example: ''2017-07-21T17:32:28Z'''
          schema:
            type: string
            nullable: true
        - name: pageSize
          in: query
          description: Format - int32. page size
          schema:
            maximum: 1000.0
            minimum: 1.0
            type: integer
            format: int32
            default: 25
            nullable: true
        - name: skip
          in: query
          description: Format - int32. The number of records to skip
          schema:
            maximum: 2147483647.0
            minimum: 0.0
            type: integer
            format: int32
            default: 0
            nullable: true
        - name: partitions
          in: query
          description: Filter the videos by partitions
          schema:
            type: array
            items:
              type: string
            nullable: true
        - name: accessToken
          in: query
          description: "Required. Should be given as parameter in URL query string or in Authorization header as Bearer token. Access token scope should be <b>Account</b> and permission should be <b>RestrictedViewer</b>.<br>\n Note that Access tokens expire within 1 hour<br>\nSee more details for <b>Classic Account</b> <a href=https://aka.ms/DocsObtainAccessToken target=\"_blank\">here</a>, for <b>ARM Account</b> <a href=https://aka.ms/vi-classic-access-token target=\"_blank\">here</a>"
          schema:
            type: string
        - name: x-ms-client-request-id
          in: header
          description: 'Format - uuid. A globally unique identifier (GUID) for the request which can be sent by client for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the client request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request, so avoid using the same request id for different requests, including in retry scenarios.'
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Account's Video list
          headers:
            x-ms-request-id:
              description: A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself.
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoSearchResult'
              example:
                results:
                  - accountId: SampleAccountId
                    id: 476892a745
                    partition: 
                    externalId: 
                    metadata: 
                    name: test2
                    description: 
                    created: 2018-04-25T17=40=28.273+00=00
                    lastModified: 2018-04-25T17=43=11.548+00=00
                    lastIndexed: 2018-04-25T17=40=38.561+00=00
                    privacyMode: Private
                    userName: SampleUserName
                    isOwned: true
                    isBase: true
                    state: Processed
                    processingProgress: ''
                    durationInSeconds: 13
                    thumbnailVideoId: 476892a745
                    thumbnailId: d869021e-2a0b-4355-9c80-144e51aa8f6d
                    social:
                      likedByUser: false
                      likes: 0
                      views: 0
                    searchMatches: [ ]
                    indexingPreset: Default
                    streamingPreset: Default
                    sourceLanguage: en-US
                  - accountId: SampleAccountId
                    id: 30e66ec1b1
                    partition: 
                    externalId: 
                    metadata: 
                    name: test3
                    description: 
                    created: 2018-04-25T16=50=00.967+00=00
                    lastModified: 2018-04-25T16=58=13.409+00=00
                    lastIndexed: 2018-04-25T16=50=12.991+00=00
                    privacyMode: Private
                    userName: SampleUserName
                    isOwned: true
                    isBase: true
                    state: Processing
                    processingProgress: ''
                    durationInSeconds: 13
                    thumbnailVideoId: 30e66ec1b1
                    thumbnailId: 55848b7b-8be7-4285-893e-cdc366e09133
                    social:
                      likedByUser: false
                      likes: 0
                      views: 0
                    searchMatches: [ ]
                    indexingPreset: Default
                    streamingPreset: Default
                    sourceLanguage: en-US
                  - accountId: SampleAccountId
                    id: 3a9220459b
                    partition: 
                    externalId: 
                    metadata: 
                    name: SampleVideo_1280x720_2mb222
                    description: 
                    created: 2018-04-25T16=29=43.099+00=00
                    lastModified: 2018-04-25T16=57=07.7+00=00
                    lastIndexed: 2018-04-25T16=29=54.767+00=00
                    privacyMode: Private
                    userName: ExampleUser
                    isOwned: true
                    isBase: true
                    state: Processing
                    processingProgress: ''
                    durationInSeconds: 13
                    thumbnailVideoId: 3a9220459b
                    thumbnailId: 21700e5e-9736-42b9-9bbb-124df35295eb
                    social:
                      likedByUser: false
                      likes: 0
                      views: 0
                    searchMatches: [ ]
                    indexingPreset: Default
                    streamingPreset: Default
                    sourceLanguage: en-US
                nextPage:
                  pageSize: 25
                  skip: 0
                  done: true
        '400':
          description: ''
          headers:
            x-ms-request-id:
              description: A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself.
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                ErrorType: GENERAL
                Message: string
        '401':
          description: ''
          headers:
            x-ms-request-id:
              description: A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself.
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                ErrorType: USER_NOT_ALLOWED
                Message: Access token is not authorized to access account 'SampleAccountId'.
        '500':
          description: ''
          headers:
            x-ms-request-id:
              description: A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself.
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                ErrorType: GENERAL
                Message: There was an error.
        '429':
          description: 'Too many requests were sent, use Retry-After response header to decide when to send the next request'
          headers:
            Retry-After:
              description: A non-negative decimal integer indicating the seconds to delay after the response is received
              schema:
                type: integer
            x-ms-request-id:
              description: A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself.
              schema:
                type: string
                format: uuid
        '504':
          description: Server did not respond to gateway within expected time
          headers:
            x-ms-request-id:
              description: A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself.
              schema:
                type: string
                format: uuid
          content:
            application/json:
              example:
                ErrorType: SERVER_TIMEOUT
                Message: Server did not respond to gateway within expected time
  '/{location}/Accounts/{accountId}/Videos/{videoId}/ReIndex':
    put:
      tags:
        - Indexing
      summary: Re-Index Video
      description: Re-index video
      operationId: Re-Index-Video
      parameters:
        - name: location
          in: path
          description: "Location indicates the Azure region to which the call should be routed<br>\nSee more details <a href=https://aka.ms/vi-apiportal-location target=\"_blank\">here</a>"
          required: true
          schema:
            enum:
              - trial
              - eastus
              - westus2
              - eastasia
              - northeurope
              - westeurope
              - southeastasia
              - eastus2
              - australiaeast
              - southcentralus
              - japaneast
              - uksouth
              - switzerlandnorth
              - switzerlandwest
              - centralindia
              - canadacentral
              - westus
              - francecentral
              - centralus
              - koreacentral
              - brazilsouth
              - japanwest
              - westcentralus
              - westus3
              - swedencentral
              - germanywestcentral
            type: string
        - name: accountId
          in: path
          description: Account ID is a globally unique identifier (GUID) for the account.<br> See more details <a href=https://aka.ms/vi-apiportal-useapi-accountId target="_blank">here</a>
          required: true
          schema:
            type: string
        - name: videoId
          in: path
          description: The video id
          required: true
          schema:
            type: string
        - name: excludedAI
          in: query
          description: "AI to exclude when indexing, for example for sensitive scenarios.\nOptions are: Faces, ObservedPeople, Emotions, Labels, RollingCredits, DetectedObjects, Celebrities, KnownPeople, OCR, Clapperboard, Logos, Speakers, Topics, Keywords, Entities, FeaturedClothing, MatchedPerson, ShotType, PeopleDetectedClothing."
          schema:
            type: array
            items:
              type: string
            nullable: true
        - name: isSearchable
          in: query
          description: Indicates whether to save the video and insights for future search. Default is to keep the current value used for this video.
          schema:
            enum:
              - true
              - false
            type: boolean
            nullable: true
        - name: indexingPreset
          in: query
          description: 'The indexing preset to use. Allowed values: Default / AudioOnly / VideoOnly / Basic / BasicAudio / BasicVideo / Advanced / AdvancedAudio / AdvancedVideo'
          schema:
            enum:
              - Default
              - AudioOnly
              - VideoOnly
              - Basic
              - BasicAudio
              - BasicVideo
              - Advanced
              - AdvancedAudio
              - AdvancedVideo
            type: string
            nullable: true
        - name: streamingPreset
          in: query
          description: 'The streaming preset to use. Allowed values: NoStreaming / Default / SingleBitrate / AdaptiveBitrate'
          schema:
            enum:
              - NoStreaming
              - Default
              - SingleBitrate
              - AdaptiveBitrate
            type: string
            nullable: true
        - name: callbackUrl
          in: query
          description: "Format - uri. A url to send notifications to (POST).\nThese are the supported notifications:\n1. Video indexing completed:\n   2 additional query string parameters will be added to the url: id and state.\n\n   For example, if the callback url is 'https://test.com/notifyme?projectName=MyProject', the notification will be sent to 'https://test.com/notifyme?projectName=MyProject&id=12345abcde&state=Processed'.\n\n2. A face was identified (after the face was trained in another video):\n   4 additional query string parameters will be added to the url: id, faceId, knownPersonId and personName.\n\n   For example, if the callback url is 'https://test.com/notifyme?projectName=MyProject', the notification will be sent to 'https://test.com/notifyme?projectName=MyProject&id=12345abcde&faceId=1234&knownPersonId=B689EC08-FAB6-497A-A727-DA7285DBD436&personName=JohnSmith'."
          schema:
            type: string
            format: uri
            nullable: true
        - name: sourceLanguage
          in: query
          description: "The language of the video, to be used when generating the transcript: Auto-detect single language - 'auto', Auto-detect multi language - 'multi'..\nSupported languages: Arabic (United Arab Emirates): ar-AE, Arabic Modern Standard (Bahrain): ar-BH, Arabic Egypt: ar-EG, Arabic (Israel): ar-IL, Arabic (Iraq): ar-IQ, Arabic (Jordan): ar-JO, Arabic (Kuwait): ar-KW, Arabic (Lebanon): ar-LB, Arabic (Oman): ar-OM, Arabic (Palestinian Authority): ar-PS, Arabic (Qatar): ar-QA, Arabic (Saudi Arabia): ar-SA, Arabic Syrian Arab Republic: ar-SY, Bulgarian: bg-BG, Catalan: ca-ES, Czech: cs-CZ, Danish: da-DK, German: de-DE, Greek: el-GR, English Australia: en-AU, English United Kingdom: en-GB, English United States: en-US, Spanish: es-ES, Spanish (Mexico): es-MX, Estonian: et-EE, Persian: fa-IR, Finnish: fi-FI, French (Canada): fr-CA, French: fr-FR, Irish: ga-IE, Gujarati: gu-IN, Hebrew: he-IL, Hindi: hi-IN, Croatian: hr-HR, Hungarian: hu-HU, Armenian: hy-AM, Indonesian: id-ID, Icelandic: is-IS, Italian: it-IT, Japanese: ja-JP, Kannada: kn-IN, Korean: ko-KR, Lithuanian: lt-LT, Latvian: lv-LV, Malayalam: ml-IN, Malay: ms-MY, Norwegian: nb-NO, Dutch: nl-NL, Polish: pl-PL, Portuguese: pt-BR, Portuguese (Portugal): pt-PT, Romanian: ro-RO, Russian: ru-RU, Slovak: sk-SK, Slovenian: sl-SI, Swedish: sv-SE, Tamil: ta-IN, Telugu: te-IN, Thai: th-TH, Turkish: tr-TR, Ukrainian: uk-UA, Vietnamese: vi-VN, Chinese (Simplified): zh-Hans, Chinese (Cantonese, Traditional): zh-HK."
          schema:
            enum:
              - ar-AE
              - ar-BH
              - ar-EG
              - ar-IL
              - ar-IQ
              - ar-JO
              - ar-KW
              - ar-LB
              - ar-OM
              - ar-PS
              - ar-QA
              - ar-SA
              - ar-SY
              - bg-BG
              - ca-ES
              - cs-CZ
              - da-DK
              - de-DE
              - el-GR
              - en-AU
              - en-GB
              - en-US
              - es-ES
              - es-MX
              - et-EE
              - fa-IR
              - fi-FI
              - fr-CA
              - fr-FR
              - ga-IE
              - gu-IN
              - he-IL
              - hi-IN
              - hr-HR
              - hu-HU
              - hy-AM
              - id-ID
              - is-IS
              - it-IT
              - ja-JP
              - kn-IN
              - ko-KR
              - lt-LT
              - lv-LV
              - ml-IN
              - ms-MY
              - nb-NO
              - nl-NL
              - pl-PL
              - pt-BR
              - pt-PT
              - ro-RO
              - ru-RU
              - sk-SK
              - sl-SI
              - sv-SE
              - ta-IN
              - te-IN
              - th-TH
              - tr-TR
              - uk-UA
              - vi-VN
              - zh-Hans
              - zh-HK
              - English
              - Spanish
              - Russian
              - Japanese
              - German
              - French
              - Portuguese
              - Italian
              - Chinese
              - Arabic
              - Hindi
              - auto
              - multi
            type: string
            nullable: true
        - name: sendSuccessEmail
          in: query
          description: Indicates whether to send a success mail once video was succesfully indexed
          schema:
            enum:
              - true
              - false
            type: boolean
            default: false
        - name: linguisticModelId
          in: query
          description: Linguistic model id as received by 'create linguistic model' call
          schema:
            type: string
            nullable: true
        - name: personModelId
          in: query
          description: Faces will be identified against the provided person model.
          schema:
            type: string
            nullable: true
        - name: priority
          in: query
          description: 'Index priority, can be used in paid regions only. Allowed values: Low / Normal / High'
          schema:
            enum:
              - Low
              - Normal
              - High
            type: string
            nullable: true
        - name: brandsCategories
          in: query
          description: List of brands categories delimited by comma. Azure Video Indexer will only take these categories in to account when indexing. If not specified all brands will be used.
          schema:
            type: string
            nullable: true
        - name: customLanguages
          in: query
          description: 'A custom list of languages to use when auto-detecting one or more languages in a video, separated by a comma. Example: ''en-US,es-ES'' for English and Spanish.'
          schema:
            type: string
            nullable: true
        - name: logoGroupId
          in: query
          description: Logos will be identified against the provided logos group.
          schema:
            type: string
            nullable: true
        - name: accessToken
          in: query
          description: "Required. Should be given as parameter in URL query string or in Authorization header as Bearer token. Access token scope should be <b>Account/Video</b> and permission should be <b>Contributor</b>.<br>\n Note that Access tokens expire within 1 hour<br>\nSee more details for <b>Classic Account</b> <a href=https://aka.ms/DocsObtainAccessToken target=\"_blank\">here</a>, for <b>ARM Account</b> <a href=https://aka.ms/vi-classic-access-token target=\"_blank\">here</a>"
          schema:
            type: string
        - name: x-ms-client-request-id
          in: header
          description: 'Format - uuid. A globally unique identifier (GUID) for the request which can be sent by client for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the client request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request, so avoid using the same request id for different requests, including in retry scenarios.'
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Video re-index started successfully
          headers:
            x-ms-request-id:
              description: A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself.
              schema:
                type: string
                format: uuid
        '404':
          description: Account not found or custom vision subscription not found/set
          headers:
            x-ms-request-id:
              description: A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself.
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                ErrorType: GENERAL
                Message: string
        '400':
          description: "Invalid input\nor\nCannot re-index the video since its original upload failed. Please upload the video again."
          headers:
            x-ms-request-id:
              description: A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself.
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                ErrorType: INVALID_INPUT
                Message: You can only exclude certain AIs. Please refer to the ExcludedAI parameter description.
        '409':
          description: Video is already being indexed
          headers:
            x-ms-request-id:
              description: A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself.
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                ErrorType: GENERAL
                Message: string
        '424':
          description: Storage account is unreachable.
          headers:
            x-ms-request-id:
              description: A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself.
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                - ErrorType: STORAGE_UNREACHABLE
                  Message: Storage account is unreachable.
                - ErrorType: MANAGED_IDENTITY_MISSING
                  Message: User managed identity could not be found.
                - ErrorType: STORAGE_ACCESS_DENIED
                  Message: Managed identity has insufficent permissions on storage account. Make sure it has at least 'Storage Blob Data Contributor' permissions.
        '401':
          description: ''
          headers:
            x-ms-request-id:
              description: A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself.
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                ErrorType: USER_NOT_ALLOWED
                Message: Access token is not authorized to access account 'SampleAccountId'.
        '500':
          description: ''
          headers:
            x-ms-request-id:
              description: A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself.
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                ErrorType: GENERAL
                Message: There was an error.
        '429':
          description: 'Too many requests were sent, use Retry-After response header to decide when to send the next request'
          headers:
            Retry-After:
              description: A non-negative decimal integer indicating the seconds to delay after the response is received
              schema:
                type: integer
            x-ms-request-id:
              description: A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself.
              schema:
                type: string
                format: uuid
        '504':
          description: Server did not respond to gateway within expected time
          headers:
            x-ms-request-id:
              description: A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself.
              schema:
                type: string
                format: uuid
          content:
            application/json:
              example:
                ErrorType: SERVER_TIMEOUT
                Message: Server did not respond to gateway within expected time
  '/{location}/Accounts/{accountId}/Videos/Search':
    get:
      tags:
        - Videos
      summary: Search Videos
      description: Search videos and projects in the specified account
      operationId: Search-Videos
      parameters:
        - name: location
          in: path
          description: "Location indicates the Azure region to which the call should be routed<br>\nSee more details <a href=https://aka.ms/vi-apiportal-location target=\"_blank\">here</a>"
          required: true
          schema:
            enum:
              - trial
              - eastus
              - westus2
              - eastasia
              - northeurope
              - westeurope
              - southeastasia
              - eastus2
              - australiaeast
              - southcentralus
              - japaneast
              - uksouth
              - switzerlandnorth
              - switzerlandwest
              - centralindia
              - canadacentral
              - westus
              - francecentral
              - centralus
              - koreacentral
              - brazilsouth
              - japanwest
              - westcentralus
              - westus3
              - swedencentral
              - germanywestcentral
            type: string
        - name: accountId
          in: path
          description: Account ID is a globally unique identifier (GUID) for the account.<br> See more details <a href=https://aka.ms/vi-apiportal-useapi-accountId target="_blank">here</a>
          required: true
          schema:
            type: string
        - name: sourceLanguage
          in: query
[...]
